# Ignore compiled Python files
.\Dataset\
*.dove

.\Code\utils\__pycache__
*.pyc
*.pyo
*.pyd

**__pycache__**
**build**
**egg-info**
**dist**
data/
*.pyc
venv/
*.idea/
*.so
*.sh
*.pth
*.pkl
*.zip
*.bin
output
version.py

